* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.message_contaier {
  padding: 8px 10px;
  background-color: #fff;
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
  border-radius: 4px;
  position: fixed;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
  opacity: 0;
}
.message_contaier.comedown {
  opacity: 1;
}

.message_contaier .message_text_box {
  color: rgba(0,0,0,0.65);
  vertical-align: top;
  line-height: 1.4;
}

.message_contaier .message_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}

/* warning */
.message_contaier .message_warning_icon {
  background-color: #faad14;
}
.message_contaier .message_warning_icon:before {
  display: block;
  content: ' ';
  width: 2px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 3px;
  transform: translateX(-50%);
}
.message_contaier .message_warning_icon:after {
  display: block;
  content: ' ';
  width: 2px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 4px;
  transform: translateX(-50%);
}

/* success */
.message_contaier .message_success_icon {
  background-color: #52c41a;
}
.message_contaier .message_success_icon:before {
  display: block;
  content: ' ';
  width: 3px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: rotate(45deg);
}
.message_contaier .message_success_icon:after {
  display: block;
  content: ' ';
  width: 6px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 40%;
  top: 45%;
  transform: rotate(-45deg);
}

/* error */
.message_contaier .message_error_icon {
  background-color: #f5222d;
}
.message_contaier .message_error_icon:before {
  display: block;
  content: ' ';
  width: 8px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
}
.message_contaier .message_error_icon:after {
  display: block;
  content: ' ';
  width: 8px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* info */
.message_contaier .message_info_icon {
  background-color: #1890ff;
}
.message_contaier .message_info_icon:before {
  display: block;
  content: ' ';
  width: 2px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 3px;
  transform: translateX(-50%);
}
.message_contaier .message_info_icon:after {
  display: block;
  content: ' ';
  width: 2px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 4px;
  transform: translateX(-50%);
}