/*reset*/
* {
	margin: 0;
	padding: 0;
}

ul,ol {
	list-style: none;
}

a {
  background-color: transparent;
}
a:active,
a:hover,
input {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/*custom*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.flex {
	display: flex !important;
}
.ib {
	display: inline-block !important;
}

.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}

.pull-top {
	vertical-align: top !important;
}
.pull-middle {
	vertical-align: middle !important;
}
.pull-bottom {
	vertical-align: bottom !important;
}

.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}

.pointer {
	cursor: pointer !important;
}

.none-border {
	border: none !important;
}

.invisible { visibility: hidden; }

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

/*============
	页面打印样式
	============*/
@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: "（" attr(href) "）";
	}

	abbr[title]:after {
		content: "（" attr(title) "）";
	}

	/*
	 *使用#和javascript的超链接不打印href
	 */
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;    /*Opera:避免在元素内部插入分页符*/
	}

	thead {
		display: table-header-group;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;    /*当元素内部发生分页时，必须在页面底部保留的最少行数*/
		widows: 3;		 /*当元素内部发生分页时，必须在页面顶部保留的最少行数*/
	}

	h2,
	h3 {
		page-break-after: avoid;    /*Opera:避免在元素后面插入分页符*/
	}
}





