html, body {
  height: 100%; 
}

.gallery-contaier {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.gallery-contaier.gallery-contaier-invisible {
  display: none;
}

.gallery-contaier .gallery-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.gallery-contaier .gallery-wrapper .gallery-swiper-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.gallery-contaier .gallery-swiper-container .swiper-slide {
  position: relative;
}
.gallery-contaier .gallery-swiper-container .swiper-slide img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* swiper */
.gallery-contaier .swiper-pagination-bullet-active {
  background-color: #fff;
}

.gallery-contaier .swiper-button-next {
  right: 0;
}
.gallery-contaier .swiper-button-prev {
  left: 0;
}

