/*@import './iconfont.css';*/
@import '../dist/dist.base.css';

.show {
  display: block !important;
}
.none {
  display: none !important;
}

html {
  font-size: 625%;
}
body {
  font-size: .16rem;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

span {
  display: block;
  min-width: 2rem;
  height: .4rem;
  border: .01rem solid #ccc;
  margin: 1rem auto;
  text-align: center;
  line-height: .4rem;
}